<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/webjars/jquery-ui/1.12.1/jquery-ui.css" />
    <title>Livros</title>
</head>
<body>
<form method="post" action="/livros/gravar">
    Nome: <input type="text" name="nome">
    Quantidade Páginas: <input type="text" name="quantidadePaginas">
    <input type="submit">
</form>

</body>
</html>
