<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8" />
    <title>Livros</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}" />
    <link rel="stylesheet" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}" />

</head>
<body>
<div class="container">
    <form method="post" action="#" th:action="@{/livro/gravar}" th:object="${livro}" class="form-group">
        <input type="hidden" th:field="*{id}">

        Nome: <input type="text" th:field="*{nome}" class="form-control">
        <span  th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Error</span><br>

        Quantidade Páginas: <input type="text" th:field="*{quantidadePaginas}" class="form-control">
        <span  th:if="${#fields.hasErrors('quantidadePaginas')}" th:errors="*{quantidadePaginas}">Error</span><br>

        Autor:
        <select th:field="*{autor}" class="form-control">
            <option value="">Selecione o Autor</option>
            <option th:each="autor : ${listaAutores}" th:value="${autor.id}" th:text="${autor.nome} " selected="selected"></option>
        </select>
        <br>

        <input type="submit" class="btn btn-success">
    </form>
</div>
</body>
</html>