<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8" />
    <title>Livros</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}" />
    <link rel="stylesheet" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}" />
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a th:href="@{/}">HOME</a>
                </li>
                <li class="active">
                    <a th:href="@{/livro/list}">LIVROS <span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a th:href="@{/autor/list}">AUTORES</a>
                </li>
                <li sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <a th:href="@{/user/list}">USUÁRIOS</a>
                </li>
                <li>
                    <a th:href="@{/user/logout}">LOGOUT</a>
                </li>
            </ul>
        </div>
    </nav>

    <div style="margin-top:80px">
        <a th:href="@{/livro/novo}" class="btn btn-success">Novo</a>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>AUTOR</th>
                <th>PÁGINAS</th>
                <th></th>
            </tr>
            <tr th:each="livro : ${livros}">
                <td th:text="${livro.id}">id do livro</td>
                <td th:text="${livro?.nome}">nome do livro</td>
                <td th:text="${livro?.autor?.nome}">nome do autor</td>
                <td th:text="${livro?.quantidadePaginas}">total de páginas do livro</td>
                <td>
                    <a th:href="@{/livro/alterar/}+${livro.id}" class="btn btn-primary pull-right">Alterar</a>
                    <a th:href="@{/livro/excluir/}+${livro.id}" class="btn btn-danger pull-right">Excluir</a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>