<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8" />
    <title>Livros</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}" />
    <link rel="stylesheet" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}" />
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a th:href="@{/}">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a th:href="@{/livro/list}">LIVROS <span class="sr-only">(current)</span></a>
                </li>
                <li class="active">
                    <a th:href="@{/autor/list}">AUTORES <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div style="margin-top:80px">
        <a th:href="@{/autor/novo}" class="btn btn-success">Novo</a>
        <br/>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>NOME</th>
                <th></th>
            </tr>
            <tr th:each="author : ${authors}">
                <td th:text="${author.id}">id do autor</td>
                <td th:text="${author?.nome}">nome do autor</td>
                <td>
                    <a th:href="@{/autor/alterar/}+${author.id}" class="btn btn-primary pull-right">Alterar</a>
                    <a th:href="@{/autor/excluir/}+${author.id}" class="btn btn-danger pull-right">Excluir</a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>